
@{
    ViewData["Title"] = "Home Page";
    string nome = "Sebastiano";
    string cognome = "Visco";
    List<int> numeri = new List<int>(); 
    for(int i = 0; i<20; i++){
        numeri.Add(new Random().Next(90));
    }

    string localDate = DateTime.Now.ToString("yyyy'-'MM'-'dd' 'HH':'mm':'ss");
    string date7days = DateTime.Now.AddDays(-7).ToString("yyyy'-'MM'-'dd' 'HH':'mm':'ss");
    string dayofWeek = DateTime.Now.ToString("dddd");
    string dayInOneYear = DateTime.Now.AddYears(1).ToString("dddd");


    int Stampa(int n){
        int somma = 0;
        for( int i = 1; i <= n; i++){
            somma += i;
        }
        return somma;
    }

    int Conta(){
        string divina = "nel mezzo del cammin di nostra vita";
        int count = 0;
        for (int i = 0; i < divina.Length; i++){
            if(divina[i].ToString() ==  "a"){
                count++;
            }
        }
        return count;
    }


}
<h2><span>Es 1.</span> @nome @cognome</h2>

<div>ES 2. La somma dei numeri: <span>@Stampa(5)</span></div>

<div>ES 3. La onta delle lettere a: <span>@Conta()</span></div>

<div>ES 4. 
    @foreach(int n in numeri){
        if(n >=20 && n<=70){
        <span>@n </span>
        }
    }
</div>

<div>ES 5. L'ora esatta @localDate</div>

<ul>ES 6.
    <li>a. Ora esatta 7 giorni fa: @date7days</li>
    <li>b. Oggi è: @dayofWeek</li>
    <li>b. Fra un anno sarà: @dayInOneYear</li>

</ul>


